<table id="membership_table">
  <% Date::MONTHNAMES.compact.each do |month_name| %>
    <tr>
      <td>
        <%= month_name %>
      </td>
      <td>
        Select Goes Here
      </td>
    </tr>
  <% end %>
</table>
